<div class='markdown'>
* [Reflected XSS EJS: Search Product](/app/products)
* [Stored XSS EJS: Add/Edit Product](/app/products)

* [Reflected XSS JS: Search Product](/products.html)
* [Stored XSS XS: Add/Edit Product](/products.html)

**Note: Chrome XSS Auditor may block XSS Attacks**
</div>

